* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #353b48;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    border-radius: 14px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.709);
}

img {
    cursor: pointer;
    border-radius: 14px 14px 0 0;
}

h2{
    display: inline-block;
    font-family: sans-serif;
    margin: 10px 0 0 10px;

}

p {
    font-family: sans-serif;
    font-size: 15.5px;
    color: rgba(0, 0, 0, 0.709);
    margin: 10px 0 0 10px;
}

button {
    /* display: inline-block; its will not work*/
    align-self: flex-start;
    margin: 30px 0 0 10px;
    border: none;
    background-color: aquamarine;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

button:hover {
    background-color: black;
    color: aquamarine;
}

